<h1>
  List of all characters
</h1>

<form action="/insert_character_record" method="post" enctype="multipart/form-data">
  <div>
    <label for="name_field">Name</label>
    <input id="name_field" type="text" name="name">
  </div>

  <div>
    <label for="photo_field">Photo</label>
    <input id="photo_field" type="file" name="photo">
  </div>

  <button>
    Create character
  </button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      Photo
    </th>

    <th>
      Name
    </th>

    <th>
      User
    </th>

    <th>
    </th>
  </tr>

  <% if @list_of_characters.present? %>
    <% @list_of_characters.each do |character| %>
      <tr>
        <td>
          <%= character.name %>
        </td>

        <td>
          <% if character.photo.attached? %>
            <%= image_tag character.photo, style: "width:500px;" %>
          <% else %>
            No image available
          <% end %>
        </td>

        <td>
          <%= character.user.email %>
        </td>

        <td>
          <a href="/characters/<%= character.id %>">
            Edit
          </a>
        </td>
      </tr>
    <% end %>
  <% else %>
    <p>No characters found.</p>
  <% end %> 
</table>
