<head>
  <title>Guess Who!</title>
  <link rel="stylesheet" href="<%= asset_path('application.css') %>">
</head>
<h1>Guess Who!</h1>

<p>This is an online version of Guess Who where you can add your own characters! </p>

<hr>

<% if user_signed_in? %>
  <div>
    <a href="/start_game" class="btn btn-primary">
      <button>Start Game</button>
    </a>
  </div>

  <div>
    <a href="/characters" class="btn btn-secondary">
      <button>Character List</button>
    </a>
  </div>
<% else %>
  <p>You must be <a href="/users/sign_in">signed in</a> to start a game or view the character list.</p>
<% end %>
